<body>
  <ul>
    <li>
      {{userName}}
    </li>
    <li>
      {{animalName}}
    </li>
    <li>
      {{bio}}
    </li>
  </ul>
  {{#each images}}
  <div>
    <img src='{{url}}'>
  </div>
  {{/each}}
</body>