.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.header {
  color: #E82C0C;
  font-size: 25px;
}

h1 {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  font-family: 'Nunito', sans-serif;
}

.imageBox {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 440px;
  margin: 3px;
}



.user {
  align-content: center;
  max-width: 400px;
  max-height: 40px;
}

.userImage {
 width: 400px;
 height: 400px;
}

img {
  width: 400px;
  height: 400px;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}